$faint-blue: #c1dcfb;
$dark-blue: #1f66b9;
$dark-blue-transparent: rgba(31,102,185,0.8);
$primary-color: #65aafb;
$primary-contrast: #ffec2a; //yellow
$purple: #bc65fb;
$green: #9dbb3f;
$green-transparent: rgba(157, 187, 63, 0.8509);
$clear-green: #8bbb00;
$faint-black: #363636;
$shadow: rgba(0, 0, 0, 0.1);
$dark-shadow: rgba(0, 0, 0, 0.45);
$light-gray: #f0f0f0;
$medium-gray: #969696;
$gray: #cccbcb;

$base-spacing: 1.0rem;
$base-time: 0.3s;

$on-small:        400px;
$on-medium:       600px;
$on-large:        1200px;

$roboto: 'Roboto', serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;
$code-font: Menlo,Monaco,Consolas,"Courier New",monospace;

@import "mixins";
@import "own_style/base";
@import "own_style/code";
@import "own_style/gallery";
@import "own_style/cards";
@import "own_style/detail-view";
@import "own_style/header";
@import "own_style/footer";
@import "own_style/img";