$primary-color-lightest: #11aafb;
$primary-color-lighter: #22aafb;
$primary-color-light: #ffaafb;
$primary-color-base: #65aafb;
$primary-color-dark: #55aafb;
$primary-color-darker: #33aafb;
$primary-color-darkest: #44aafb;

$neutral-color-lightest: #65aafb;
$neutral-color-lighter: #65aafb;
$neutral-color-light: #65aafb;
$neutral-color-base: #65aafb;
$neutral-color-dark: #65aafb;
$neutral-color-darker: #65aafb;
$neutral-color-darkest: #65aafb;

$accent1-color-lightest: #65aafb;
$accent1-color-lighter: #65aafb;
$accent1-color-light: #65aafb;
$accent1-color-base: #65aafb;
$accent1-color-dark: #65aafb;
$accent1-color-darker: #65aafb;
$accent1-color-darkest: #65aafb;

$accent2-color-lightest: #65aafb;
$accent2-color-lighter: #65aafb;
$accent2-color-light: #65aafb;
$accent2-color-base: #65aafb;
$accent2-color-dark: #65aafb;
$accent2-color-darker: #65aafb;
$accent2-color-darkest: #65aafb;
