.u-bg-primary-lightest {  background-color: $primary-color-lightest; }
.u-bg-primary-lighter {   background-color: $primary-color-lighter; }
.u-bg-primary-light {     background-color: $primary-color-light; }
.u-bg-primary-base {      background-color: $primary-color-base; }
.u-bg-primary-dark {      background-color: $primary-color-dark; }
.u-bg-primary-darker {    background-color: $primary-color-darker; }
.u-bg-primary-darkest {   background-color: $primary-color-darkest; }

.u-bg-neutral-lightest {  background-color: $neutral-color-lightest; }
.u-bg-neutral-lighter {   background-color: $neutral-color-lighter; }
.u-bg-neutral-light {     background-color: $neutral-color-light; }
.u-bg-neutral-base {      background-color: $neutral-color-base; }
.u-bg-neutral-dark {      background-color: $neutral-color-dark; }
.u-bg-neutral-darker {    background-color: $neutral-color-darker; }
.u-bg-neutral-darkest {   background-color: $neutral-color-darkest; }

.u-bg-accent1-lightest {  background-color: $accent1-color-lightest; }
.u-bg-accent1-lighter {   background-color: $accent1-color-lighter; }
.u-bg-accent1-light {     background-color: $accent1-color-light; }
.u-bg-accent1-base {      background-color: $accent1-color-base; }
.u-bg-accent1-dark {      background-color: $accent1-color-dark; }
.u-bg-accent1-darker {    background-color: $accent1-color-darker; }
.u-bg-accent1-darkest {   background-color: $accent1-color-darkest; }

.u-bg-accent2-lightest {  background-color: $accent2-color-lightest; }
.u-bg-accent2-lighter {   background-color: $accent2-color-lighter; }
.u-bg-accent2-light {     background-color: $accent2-color-light; }
.u-bg-accent2-base {      background-color: $accent2-color-base; }
.u-bg-accent2-dark {      background-color: $accent2-color-dark; }
.u-bg-accent2-darker {    background-color: $accent2-color-darker; }
.u-bg-accent2-darkest {   background-color: $accent2-color-darkest; }
