/**
 * Reset some basic elements
 */
body, figure {
  margin: 0;
  padding: 0;
}

//General styles for page
body {
  font-family: $roboto;
  background: $neutral-color-lightest;
  color: $neutral-color-darkest;
}

p {
  font-size: 1.2em;
  line-height: 1.6em;
  max-width: 75ch;
}

img {
  max-width: 100%; // stop images from breaking out of their bounding boxes.
}

a {
  color: $primary-color-darker;
  text-decoration: none;
  &:hover, &:active {
    color: $accent1-color-dark;
    text-decoration: underline;
    transition: $base-time;
  }
}

.show-for-sr,
.show-on-focus {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.extra-info {
  margin-top: 0;
  background-color: $primary-color-base;
  padding: $base-spacing 2 * $base-spacing;
}

.page-sub-heading {
  background-color: $accent1-color-base;
  padding: $base-spacing 2 * $base-spacing;

  a {
    color: white;
    text-decoration: none;
  }
}
