/**
 * Reset some basic elements
 */
body, figure {
  margin: 0;
  padding: 0;
}

//General styles for page
body {
  font-family: $roboto;
  background: $light-gray;
}

p {
  font-size: 1.2em;
  line-height: 1.6em;
}

img {
  max-width: 100%; // stop images from breaking out of their bounding boxes.
}

a {
  color: $dark-blue;
  text-decoration: none;
  &:hover, &:active {
    color: $clear-green;
    text-decoration: underline;
    transition: $base-time;
  }
}

.show-for-sr,
.show-on-focus {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

@media (min-width: $on-large) {
  .container {
    width: $on-large;
    margin: 0 auto;
  }
}


.extra-info {
  margin-top: 0;
  background-color: $primary-color;
  padding: $base-spacing 2 * $base-spacing;
}

.page-sub-heading {
  background-color: $green;
  padding: $base-spacing 2 * $base-spacing;

  a {
    color: white;
    text-decoration: none;
  }
}

a.button {
  display: inline-block;
  background-color: $dark-blue;
  color: white;
  padding: $base-spacing;
}

//
// CSS used in content
// 

.center {
  display: block;
  margin: 0 auto;
}

.float-clear {
  clear: both;
}

.float-clear-after {
  &:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
  }
}