footer {
  background-color: $dark-blue;
  font-size: 1.2em;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  padding: $base-spacing 2 * $base-spacing;
}

footer svg {
  fill: currentColor;
}


.footer-block {
  border-bottom: solid 2px $primary-contrast;
  padding-bottom: $base-spacing;
  margin-bottom: 2 * $base-spacing;
}

@media (min-width: $on-medium) {
  footer .container {
    flex-direction: row;
  }
  .footer-block {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

footer .container a {
  color: white;
  text-decoration: none;
  transition: $base-time;
}
footer .container a {
  &:hover, &:active {
      color: $primary-contrast;
  }
}

footer h4 {
    color: $primary-contrast;
    font-size: 1.4em;
}

.site-footer span {
  display: inline-block;
  margin-bottom: 0.5 * $base-spacing;
}

.social-media-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .social-media-list .icon {
  display: inline-block;
  width: 1.0em;
  margin-right: $base-spacing;
}