.banner {
  background-color: $primary-color-base;
  border-bottom: solid 5px $primary-color-light;
}

.site-nav {
  font-family: $roboto-condensed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $base-spacing 2 * $base-spacing;
}

.site-nav a {
  color: white;
  text-decoration: none;
  transition: $base-time * 0.5;
}

.site-nav ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav ul a {
  padding: 1em;
}

.site-nav ul a {
  &:hover, &:active {
    background-color: $primary-color-base;
    border-bottom: solid 5px $primary-color-light;
  }
}

.site-nav li {
  font-size: 1.2rem;
  display: inline-block;
}

.site-logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
  @include filter(brightness(5000%));
}

.site-header-titles {
    display: inline-block;
    font-size: .9rem;
    vertical-align: middle;
    line-height: 1.1;
}
h1.site-header-title {
    font-size: 2.0rem;
    font-weight: 700;
    margin: 0;
}
