.img-left {
	float: left;
	margin: 1rem;
}

.img-right {
	float: right;
	margin: 1rem;
}

.img-center {
	
}

.img-medium img {
	width: 600px;	
}

.img-large img {
	width: 800px;
}

figure {
	img {
		display: block;
		margin: 0 auto;
	}
	figcaption {
		margin-top: 10px;
		color: rgba(0,0,0,.6);
		text-align: center;
	}
}